<header class="header">
    <div class="header__content">
        <p class="header__title">MiniScoob.io</p>
        <nav>
            <ul class="header__list">
                @for (link of navLinks; track $index) {
                    <li>
                        <a class="header__link" [routerLink]="link.href">
                            {{ link.label }}
                        </a>
                    </li>
                }
            </ul>
        </nav>
      <div class="header__auth-block">
        @if (user()) {
          <p>{{ user()?.username }}</p>
          <button
            matButton="outlined"
            class="materialButton__outlined"
            (click)="handleLogout()"
          >
            Выйти
          </button>
        } @else {
          <button
            matButton="filled"
            class="materialButton__filled"
            (click)="handleAuth()"
          >
            Войти
          </button>
        }
      </div>
    </div>
</header>
