@use "variables";
@use "mixins";

.hobby-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter variables.$animation-time ease,
    transform variables.$animation-time ease;
  }

  &:hover {
    > img {
      filter: blur(4px) brightness(0.7);
      transform: scale(1.05);
    }

    > .hobby-card__content {
      opacity: 1;
      visibility: visible;
    }

    .hobby-card__title,
    .hobby-card__text {
      transform: translateY(0);
    }
  }
}

.hobby-card__content {
  @include mixins.flexbox($direction: column);

  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  text-align: center;
  color: variables.$color-white;
  opacity: 0;
  visibility: hidden;
  transition: opacity variables.$animation-time ease,
              visibility variables.$animation-time ease;
}

.hobby-card__title,
.hobby-card__text {
  transform: translateY(20px);
  transition: transform variables.$long-animation-time ease;
}

.hobby-card__title {
  margin-bottom: 1rem;
  font-size: 4rem;
}

.hobby-card__text {
  font-size: 1.8rem;
}
