@let articles = store.articles();

<main class="home">
  <home-about-me />
  <section>
    <h2 class="lead-title">Моя карьера</h2>
    <div class="home__block-wrapper">
      <section class="home__block">
        <h3 class="title">Текущая должность</h3>
        <p>Frontend-разработчик, фриланс (2022 — по настоящее время)</p>
        <p>
          Разработка клиентской части веб-приложений на стеке Next, SCSS, Strapi<br />
          Работал с большими перерывами, в сумме участвовал в 8 проектах, которые были доведены
          до продакшена или уровня MVP.
        </p>
      </section>
      <section class="home__block">
        <h3 class="title">Мои проекты:</h3>
        <home-projects-list [projects]="projects" />
      </section>
      <section class="home__block">
        <h3 class="title">Маленькие победы:</h3>
        <home-achievements-list [achievements]="achievements" />
      </section>
    </div>
  </section>
  <section>
    <h2 class="lead-title">Моё развитие</h2>
    <div class="home__block-wrapper">
      <section class="home__block">
        <h3 class="title">Образование:</h3>
        <home-educations-list [educationItems]="educations"/>
      </section>
      <section class="home__block">
        <h3 class="title">Навыки:</h3>
        <home-skills-list [skills]="skills" />
      </section>
    </div>
  </section>
  <section>
      <h2 class="lead-title">Мои хобби</h2>
      <ul class="home__hobby-list">
        @for (item of hobbies; track $index) {
          <li class="home__hobby-card">
            <hobby-card [value]="item" />
          </li>
        }
      </ul>
    </section>
    @if (articles.length > 0) {
      <section>
        <h2 class="lead-title">Последние статьи</h2>
        <ul class="home__article-list">
          @for (item of articles.slice(0, 2); track $index) {
            <li>
              <blog-article [value]="item" />
            </li>
          }
        </ul>
        <a class="button" href="/blog">
          Посмотреть все статьи
        </a>
      </section>
    }
</main>
