@use "./variables";

$default-flexbox-align: center;
$default-flexbox-justify: center;
$default-flexbox-direction: row;

@mixin flexbox($align: $default-flexbox-align, $justify: $default-flexbox-justify, $direction: $default-flexbox-direction) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

$default-card-theme: 'light';

@mixin card($theme: $default-card-theme) {
    border: 1px solid variables.$color-border;
    padding: 2.4rem;
    border-radius: 16px;
    
    @if $theme == 'light' {
        background-color: variables.$color-white;
    } @else if $theme == 'dark' {
        background-color:variables.$color-background-dark;
    }
}

$default-grid-columns: repeat(4, 1fr);
$default-grid-rows: 1;

@mixin grid($columns: $default-grid-columns, $rows: $default-grid-rows) {
    display: grid;
    grid-template-columns: $columns;
    grid-auto-rows: $rows;
}
