/* Colors */
$color-primary: #116ACC;
$color-important: #FD4E5D;
$color-text: #4B5563;
$color-text-lead: #374151;
$color-text-secondary: #9CA3AF;
$color-background: #F9FAFB;
$color-background-dark: #F3F4F6;
$color-border: #F3F4F6;
$color-border-dark: #BDC1CA;
$color-error: #BA0000;
$color-white: #FFF;

/* Borders */
$border-radius: 16px;

/* Animation */
$animation-time: 0.25s;
$long-animation-time: 0.5s;