@let comment = data();

<mat-card>
  <mat-card-header class="article-comment__header">
    <mat-card-title class="subtitle">
      <h3>{{ comment.author }}</h3>
    </mat-card-title>
    <mat-card-subtitle class="article-comment__subtitle">
      <date-time [value]="comment.createdAt">Опубликовано:</date-time>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="article-comment__text">{{ comment.text }}</p>
  </mat-card-content>
  <mat-card-footer class="article-comment__footer">
    <rating-stepper [value]="comment.rating" (change)="handleRatingChange($event)" />
  </mat-card-footer>
</mat-card>
