@let titleErrorMessage = getError('title');
@let contentErrorMessage = getError('content');
@let categoryErrorMessage = getError('categoryName');

<form [formGroup]="blogArticleForm" (ngSubmit)="handleSubmit()" class="blog-article-upsert">
  <p>
    <label for="title-input">Заголовок (обязательно):</label>
    <br />
    <input
      class="input"
      id="title-input"
      name="title"
      formControlName="title"
      type="text"
      minlength="25"
      size="40"
      placeholder="Например, &quot;Крутая новость&quot;"
      [class.blog-article-upsert__invalid]="isInvalid('title')"
      required
    />
    @if (titleErrorMessage) {
      <span class="blog-article-upsert__error-message">{{ titleErrorMessage }}</span>
    }
  </p>
  <p>
    <label for="text-input">Текст статьи (обязательно):</label>
    <br />
    <textarea
      class="textarea"
      id="content-input"
      name="content"
      formControlName="content"
      minlength="20"
      rows="10"
      cols="40"
      placeholder="Сама новость..."
      [class.blog-article-upsert__invalid]="isInvalid('content')"
      required
    ></textarea>
    @if (contentErrorMessage) {
      <span class="blog-article-upsert__error-message">{{ contentErrorMessage }}</span>
    }
  </p>
  <p>
    <input-autocomplete
      [options]="categories()"
      label="Категория"
      formControlName="categoryName"
      [class.blog-article-upsert__invalid]="isInvalid('categoryName')"
      [required]="true"
    />
    @if (categoryErrorMessage) {
      <span class="blog-article-upsert__error-message">{{ categoryErrorMessage }}</span>
    }
  </p>
  <p>
    <label for="photo-input">Прикрепить фото:</label>
    <br />
    <input
      class="input"
      id="image-input"
      name="image"
      formControlName="image"
      type="file"
      accept="image/*"
    />
  </p>
  <div class="blog-article-upsert__footer">
    <button
      class="button"
      type="submit"
      [disabled]="blogArticleForm.invalid"
    >
      Сохранить
    </button>
    <button
      class="button"
      type="reset"
      (click)="handleCancel()"
    >
      Отмена
    </button>
  </div>
</form>
