<form [formGroup]="blogArticleForm" (ngSubmit)="handleSubmit()" class="blog-article-upsert">
  <p>
    <label for="title-input">Заголовок (обязательно):</label>
    <br />
    <input
      id="title-input"
      name="title"
      formControlName="title"
      type="text"
      minlength="25"
      size="40"
      placeholder="Например, &quot;Крутая новость&quot;"
      [class.blog-article-upsert__invalid]="isInvalid('title')"
      required
    />
    @if (getError('title')) {
      <span class="blog-article-upsert__error-message">{{ getError('title') }}</span>
    }
  </p>
  <p>
    <label for="text-input">Текст статьи (обязательно):</label>
    <br />
    <textarea
      id="text-input"
      name="text"
      formControlName="text"
      minlength="20"
      rows="10"
      cols="40"
      placeholder="Сама новость..."
      [class.blog-article-upsert__invalid]="isInvalid('text')"
      required
    ></textarea>
    @if (getError('text')) {
      <span class="blog-article-upsert__error-message">{{ getError('text') }}</span>
    }
  </p>
  <p>
    <label for="photo-input">Прикрепить фото:</label>
    <br />
    <input
      id="photo-input"
      name="photo"
      formControlName="photo"
      type="file"
      accept="image/*"
    />
  </p>
  <div class="blog-article-upsert__footer">
    <button
      class="button"
      type="submit"
      [disabled]="blogArticleForm.invalid"
    >
      Сохранить
    </button>
    <button
      class="button"
      type="reset"
      (click)="handleCancel()"
    >
      Отмена
    </button>
  </div>
</form>
