<menu role="toolbar" class="toolbar">
  <li>
    <button
      title="Добавить статью"
      class="toolbar__button toolbar__top-button"
      (click)="handleShowAddFormClick()"
    >
      <img src="icons/add_article.svg" alt="Иконка добавления статьи" />
    </button>
  </li>
  <li>
    <button
      title="Просмотр статистики"
      class="toolbar__button toolbar_bottom-button"
      (click)="handleShowStatisticClick()"
    >
      <img src="icons/stats.svg" alt="Иконка просмотра статистики" />
    </button>
  </li>
</menu>
