<menu role="toolbar" class="toolbar">
  <li>
    <button
      title="Добавить статью"
      class="toolbar__button toolbar__top-button"
      (click)="handleShowAddFormClick()"
    >
      <mat-icon
        svgIcon="add_article"
        class="toolbar__icon"
        aria-hidden="false"
        aria-label="Иконка добавления статьи"
      />
    </button>
  </li>
  <li>
    <button
      title="Просмотр статистики"
      class="toolbar__button toolbar_bottom-button"
      (click)="handleShowStatisticClick()"
    >
      <mat-icon
        svgIcon="stats"
        class="toolbar__icon"
        aria-hidden="false"
        aria-label="Иконка просмотра статистики"
      />
    </button>
  </li>
</menu>
