@let isEditMode = mode() === 'edit';

<article class="blog-article" [class.edit]="isEditMode">
  @if (isEditMode) {
    <div class="blog-article__menu">
       <button
        type="button"
        class="blog-article__button"
        title="Редактировать статью"
        (click)="handleEdit()"
      >
        <img src="icons/edit_article.svg" alt="Иконка редактирования в виде ручки и бумаги" />
      </button>
      <button
        type="button"
        class="blog-article__button"
        title="Удалить статью"
        (click)="handleDelete()"
      >
        <img src="icons/trash_can.svg" alt="Иконка удаления в виде мусорной корзины" />
      </button>
    </div>
  }
  <div class="blog-article__content">
    <header class="blog-article__header">
      <h3 class="blog-article__title">{{ value().title }}</h3>
      <p>
        Опубликовано:
        <time class="blog-article__time-published">{{ createdAt() }}</time>
      </p>
    </header>
    <p class="blog-article__text">{{ value().text }}</p>
  </div>
  <img class="blog-article__image" [src]="photo()" />
</article>
