<section class="about-me">
  <div>
    <h1 class="lead-title">Обо мне</h1>
    <p>
      Любитель конфет и сладких ракет.<br />
      Последние несколько лет подрабатываю веб-разработчиком, специализируюсь на интеграции с блокчейном.<br />
      В этом бложике делюсь своими ценными мюслями, интересными практиками и важными новостями.
    </p>
  </div>
  <img
    src="images/twinpeaks.jpg"
    alt="Фотография меня с чашечкой чертовски хорошего кофе. Позади монитор с фотографией Лоры Палмер"
  />
</section>
