@let article = store.article();

@if (!store.isLoaded()) {
  <div class="article">
    <app-spinner />
  </div>
} @else if (article !== null) {
  <main class="article">
    <div>
      <h1 class="lead-title">{{ article.title }}</h1>
      <p class="article__text">{{ article.text }}</p>
      <img class="article__image" [src]="photo" alt="Article cover" />
    </div>
    <section>
      <h2 class="title">Добавить комментарий</h2>
      <article-comment-form />
    </section>
    <section>
      <h2 class="title">Комментарии:</h2>
      <ul class="article__comments-list">
        @for (item of [{ id: 1, author: 'Bob', text: 'test', createdAt: '2025-03-03', rating: 0 }]; track $index) {
          <li>
            <article-comment [data]="item" />
          </li>
        }
      </ul>
    </section>
  </main>
} @else {
  <div class="article">
    <p class="title">Статья не найдена</p>
  </div>
}
