<div class="rating-stepper">
  <button
    matMiniFab
    class="rating-stepper__button"
    (click)="handleDecrement()"
    aria-label="Decrement rating"
  >
    <mat-icon class="rating-stepper__icon">remove</mat-icon>
  </button>
  <span
    [class.rating-stepper__positive]="value() > 0"
    [class.rating-stepper__negative]="value() < 0"
  >
    {{ value() }}
  </span>
  <button
    matMiniFab
    class="rating-stepper__button"
    (click)="handleIncrement()"
    aria-label="Increment rating"
  >
    <mat-icon class="rating-stepper__icon">add</mat-icon>
  </button>
</div>
