@use "placeholders";
@use "variables";
@use "mixins";

.blog {
  @extend %content;

  @include mixins.card;
  @include mixins.flexbox($align: stretch, $direction: column);

  gap: 4rem;
  margin-bottom: 2.4rem;
}

.blog__articles-header {
  @include mixins.flexbox($justify: space-between);

  margin-bottom: 2.2rem;

  > h2 {
    margin-bottom: 0;
  }
}

.blog__articles-controls {
  @include mixins.flexbox;
  gap: 1rem;
}

.blog__articles-list {
  @include mixins.grid($columns: 1fr, $rows: auto);

  gap: 1.6rem 2.4rem;
  list-style: none;
}

.blog__pagination {
  display: block;
  margin-top: 2.4rem;
}

.blog__form-section {
    max-height: 600px;
    overflow: hidden;
    transition: max-height variables.$long-animation-time;
}

.hidden-collapse {
    max-height: 0;
}

@include mixins.tablet-mid {
    .blog__articles-list {
        grid-template-columns: repeat(2, 1fr);

      > li:first-child {
        grid-area: 1 / 1 / 2 / 3;
        container-type: inline-size;
      }
    }
}
