@let articles = store.articles();

<blog-statistics
  [isOpen]="isStatisticsOpen()"
  [blogArticlesCount]="articles.length"
  [blogCommentsCount]="0"
  (close)="closeStatistics()"
/>
<blog-toolbar (showAddForm)="showFrom()" (showStatistic)="showStatistics()" />
<main class="blog">
  <section>
    <h1 class="lead-title">Блог</h1>
    <p>
      Добро пожаловать в хранилище <em>ценных</em> мюслей и <em>важных</em> новостей.
      Читайте, запоминайте и мотайте на ус.
    </p>
  </section>
  <section>
    <div class="blog__articles-header">
      <h2 class="lead-title">Статьи</h2>
      <div class="blog__articles-controls">
        <button class="button" (click)="store.generateArticles()">
          Сгенерировать
        </button>
        <button class="button" (click)="store.clearArticles()">
          Удалить все
        </button>
      </div>
    </div>
    @if (!store.isLoaded()) {
      <app-spinner />
    } @else if (articles.length > 0) {
      <ul class="blog__articles-list">
        @for (item of articles; track item.id) {
          <li>
            <blog-article
              [value]="item"
              [mode]="'edit'"
              (delete)="onDeleteBlogArticle($event)"
              (edit)="onEditBlogArticle($event)"
            />
          </li>
        }
      </ul>
      <list-pagination
        class="blog__pagination"
        [currentPage]="store.page()"
        [totalPages]="totalPages()"
        (pageChange)="onPageChanged($event)"
      />
    } @else {
      <p>Нет статей</p>
    }
  </section>
  <section class="blog__form-section" [class.hidden-collapse]="isAddFormHidden()">
    <h2 class="lead-title">{{ formTitle() }}</h2>
    <blog-article-upsert
      [initialValue]="editingBlogArticle()"
      (save)="onSave($event)"
      (cancel)="onCancel()"
    />
  </section>
</main>
